<%- include('./partial/header.ejs') -%>
<%- include('partial/Navbar.ejs') -%>
<h2 style="display: block;text-align: center;padding-top:40px;padding-bottom: 40px;color: aliceblue;">
    Login
</h2>
<div class="card" style="width: 400px;margin: 40px auto; background-color: rgb(234,106,106); padding-bottom: 20px; padding-top: 20px;">
<form class="logger">
    <div class="Errors"style="margin:0 auto; color:rgb(0,0,0)"></div>
    <label for="" style="display: block; text-align: center;color:aliceblue">Email</label>
    <input type="email" name="email" required style="display: block;margin: 0 auto; background-color: aliceblue;margin-bottom: 10px;">
    <label for=""style="display: block; text-align: center;color:aliceblue">Password</label>
    <input type="password" name="password" required style="display: block;margin: 0 auto; background-color: aliceblue;margin-bottom: 10px;">
    <button id="submit" class="btn btn-outline-warning" style="display: block; margin: 0 auto;text-align:center">Submit</button>
</form>
</div>
<h2 style="display: block;text-align: center;padding-top:40px;padding-bottom: 10px;background-color:rgb(253, 253, 253);">
    OR
</h2>
<div class="oauth" style="display: block; margin: 40px auto;text-align: center;background-color:rgb(253, 253, 253);padding-bottom: 50px;">
    <a href="/google"><button class="google btn-success">Google+</button></a>
    <a href="/facebook"><button class="fb btn-primary">Facebook</button></a>
</div>

<script>
    const form=document.querySelector('.logger');
    const Errors=document.querySelector('.Errors');
        form.addEventListener('submit',(e)=>{
            e.preventDefault();

            const email=form.email.value;
            const password=form.password.value;
            console.log(email,password);
            fetch('/login',{
                method:'POST',
                body:JSON.stringify({email:email,password:password}),
                headers:{'Content-type':'application/json'}
                
            }).then(response=>{
                window.location.href = '/';
            }).then(d=>{
                Errors.textContent=d.error;
            }).catch(err=>console.log(err));
        });
</script>
<%- include('./partial/footer.ejs') -%>