<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>
    <% if(!user){ %>
     <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign up</a>
    </li>
  <% } else { %>
  
    <li class="nav-item">
      <a class="nav-link" href="/myPosts">My Blogs</a>
    </li>
    <li class="nav-item">
      <a href="/likedPosts" class="nav-link">Liked Posts</a>
    </li>
    <li class="nav-item">
      <a href="/addBlog" class="nav-link">Add Blog</a>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link">Logout</a>
    </li>
  <% } %>
    <li class="nav-item justify-content-end search">
        <form class="d-flex" action="/search?_method=GET" method="post">
            <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
            <button type="submit"class="btn btn-outline-warning" >Search</button>
        </form>
      </li>
  </ul>